.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 8px;
    /* border-bottom: solid rgb(172, 172, 172) 2px; */
}

.navbar .menu-icon {
    order: 0;
    flex: 1 auto;
    width: 25px;
    /* padding: 8px; */
    padding-left: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-icon:hover {
    transform: scale(1.1, 1.1);
}

.navbar .nav-title {
    order: 1;
    flex: 5 auto;
    font-size: 28px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 16px;
    font-weight: bold;
    cursor: pointer;
}

.navbar .nav-heading {
    order: 2;
    flex: 1 auto;
    font-size: 24px;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-left: 16px;
    font-weight: bold;
}

.navbar .nav-end {
    order: 99;
    align-self: flex-end;
    flex: 5 auto;
}

.nav-end {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
}

.nav-end .nav-item {
    margin: 10px;
    padding-top: 8px;
    font-size: 18px;
    cursor: pointer;
}

.nav-end .nav-status {
    margin-left: 50px;
}

#overlay {
	display: none;
	z-index: 2;
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
    text-align: center;
}

#notification {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 80px;
    margin: 16px;
    padding: 8px 16px;
    background-color: rgba(32, 108, 179, 0.925);
    border-radius: 0.3em;
    border: solid rgba(92, 199, 110, 0.836) 2px;
    box-shadow: 4px 4px 8px rgb(70, 79, 94);
    font-size: 18px;
    font-weight: bold;
    z-index: 15;
    transition: 0.3s;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    z-index: 8;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
}

/* Sidebar links */
.sidebar .user-info {
    display: block;
    height: 100px;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 28px;
    transition: 0.3s;
}

.sidebar a.sidebar-settings {
    width: 218px;
    position: absolute;
    bottom: 16px;
    padding: 16px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    transition: 0.3s;
}

/* Active/current link */
.sidebar a.active {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    /* margin-left: 50px; */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.side-push {
    transition: margin-left .5s;
    /* padding: 20px; */
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
/* div.content {
    margin-left: 200px;
    padding: 2px 4px;
} */

/* On screens that are less than 700px wide, make the sidebar into a topbar */
/* @media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
} */

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
/* @media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
} */

/* On smaller screens, where height is less than 450px, change the style 
of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.floating-second {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 96px;
    margin-bottom: 12px;
    transition: 0.2s;
}

.floating-actions {
    display: flex;
    flex-flow: column-reverse nowrap;
    z-index: 4;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 16px;
    margin-bottom: 12px;
    transition: 0.2s;
}

.floating-item,
.fab {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 8px;
    background-color: rgba(96, 218, 39, 0.842);
    border-radius: 50%;
    /* border: 3px solid blue; */
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 4px 4px 8px rgb(75, 75, 75);
}

.floating-item:hover,
.fab:hover {
    transform: scale(0.92, 0.92);
    box-shadow: none;
}

.floating-icon,
.icon {
    margin: 8px;
    /* top: 8px;
    left: 8px; */
    width: 34px;
    transition: 0.6s;
}

.icon-small {
    width: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 25%;
    transition: 0.4s;
    justify-self: center;
    transform: translate(0, -4px);
}

.icon-small-circular {
    width: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.4s;
}

.icon-small:hover, 
.icon-small-circular:hover {
    background-color: rgb(206, 206, 206);
}

/* .tooltip-parent {
    position: relative;
} */

.tooltip {
    visibility: hidden;
    min-width: 50px;
    background-color: rgba(36, 36, 36, 0.856);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    right: 65px;
    bottom: 15px;
    font-size: 18px;
    z-index: 1;
}

.tooltip-parent:hover .tooltip {
    visibility: visible;
}

.specialBox {
	display: none;
    position: fixed;
    /* top: 0;
    left: 0;
    margin: 12vh 10vw; */
    /* perfect center align code!!! */
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
	width: 80vw; 
	/* min-height: 70vh; */
	background: #FFF;
	color: #000;
    border-radius: 1em;
    z-index: 6;
}

.specialBox .closebtn {
    display: block;
    font-size: 36px;
    position: absolute;
    padding: 8px;
    top: 0;
    right: 10px;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.specialBox .title {
    margin: 18px;
    font-size: 24px;
    font-weight: bold;
}

.specialBox .closebtn:hover {
    background-color: rgba(85, 85, 85, 0.952);
    border-radius: 0.2em;
}

.specialBox .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10px;
}

.specialBox .description {
    /* position: absolute; */
    /* bottom: 0; */
    color: rgb(87, 87, 87);
    margin: 16px;
}

.textbox-main,
.textbox {
    display: block;
    border: 0;
    border-bottom: solid rgb(3, 3, 3) 1px;
    border-radius: 2em;
    transition: 0.2s;
    font-size: 18px;
    padding: 1px 10px;
}

.textbox-main {
    width: 86%;
    font-size: 18px;
    margin: 16px 5%;
    padding: 10px;
}

.textbox-main:focus {
    border: 0;
    border-bottom: solid rgb(52, 75, 177) 3px;
}

.textbox-small,
.textbox-small-long,
.textbox-long {
    width: 50px;
    border: 0;
    border-bottom: solid rgb(3, 3, 3) 1px;
    border-radius: 2em;
    transition: 0.2s;
    font-size: 18px;
    padding: 1px 12px;
    margin: 1px 10px;
    text-align: center;
}

.textbox-small-long {
    width: 70px;
}

.textbox-long {
    width: 200px
}

.label {
    font-size: 18px;
    vertical-align: middle;
}

.button {
    background-color: rgb(42, 94, 238);
    font-style: bold;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(70, 79, 94);
    padding: 8px 22px;
    margin: 15px;
    margin-bottom: 15px;
    border-radius: 0.25em;
    transition: 0.3s;
}

.button:hover {
    box-shadow: none;
    transform: scale(0.98, 0.98)
}

.checkbox {
    width: 1.2em;
    height: 1.2em;
    transition: 0.2s;
    cursor: pointer;
}

.checkbox:hover {
    transform: scale(1.2)
}

.datetime-picker {
    border: 2px solid red;
    border-radius: 0.5em;
    padding: 4px;
}

textarea {
    border: 0;
    width: 86%;
    padding: 1em;
    font-size: 16px;
    min-height: 35vh;
    max-height: 92vh;
    min-width: 50vw;
    border-radius: 0.5em;
    background-color: rgb(186, 168, 235);
    transition: 0.3s;
}

textarea:focus,
input:focus {
    outline: none;
}

input:disabled {
    background: rgba(225, 226, 169, 0.267);
    color: black;
}

textarea:disabled {
    color: black;
    background: rgba(225, 226, 169, 0.267);
}