.root-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.root-container .root-item {
    margin: 10px;
}

.calendar-instance {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
}

.calendar-month, 
.calendar-year {
    font-size: 24px;
    font-style: italic;
    padding-right: 0;
    cursor: pointer;
    transition: 0.3s;
}

.calendar-month:hover, 
.calendar-year:hover {
    border-bottom: solid rgb(124, 124, 124) 3px;
    border-top: solid rgb(124, 124, 124) 3px;
}

.icon {
    width: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.4s;
}

.icon:hover {
    background-color: rgb(206, 206, 206);
}

.calendar-container {
    order: 1;
    flex: 4 auto;
    /* min-width: 5vw; */
    display: grid;
    grid-template-columns: repeat(7, minmax(60px, 180px));
    grid-auto-rows: minmax(50px, 110px);
    grid-template-rows: 50px;
}

.calendar-container .calendar-item {
    font-size: 24px;
    padding: 10px;
    border-top: solid rgb(175, 175, 175) 2px;
    border-left: solid rgb(175, 175, 175) 2px;
    cursor: pointer;
    transition: 0.35s;
}

.calendar-item:hover {
    transform: scale(1.05, 1.05);
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgb(116, 131, 155);
}

.calendar-container .calendar-header {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border-left: solid rgb(175, 175, 175) 2px;
    border-bottom: solid black 2px;
}

.info-container {
    order: 2;
    flex: 2 auto;
    min-width: 250px;
}

/* On screens that are less than 1024px, do not display info-container */
/* TODO: try this out later */
@media screen and (max-width: 800px) {
    /* .info-container {
        display: none;
    } */
    /* .root-container {
        flex-flow: row wrap;
    } */
}

.floating-today {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 12px;
    margin-right: 96px;
    transition: 0.2s;
}

.floating-actions {
    position: fixed;
    display: flex;
    flex-flow: column-reverse nowrap;
    z-index: 4;
    right: 0;
    bottom: 0;
    margin-right: 16px;
    margin-bottom: 12px;
    transition: 0.2s;
}

.floating-item,
.fab {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 8px;
    background-color: rgba(96, 218, 39, 0.842);
    border-radius: 50%;
    /* border: 3px solid blue; */
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 4px 4px 8px rgb(75, 75, 75);
}

.tooltip {
    visibility: hidden;
    min-width: 50px;
    background-color: rgba(36, 36, 36, 0.856);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    right: 65px;
    bottom: 15px;
    font-size: 18px;
    z-index: 1;
}

.floating-item:hover,
.fab:hover {
    transform: scale(0.92, 0.92);
    box-shadow: none;
}

.floating-item:hover .tooltip,
.fab:hover .tooltip {
    visibility: visible;
}

.floating-icon {
    position: relative;
    top: 8px;
    left: 8px;
    width: 34px;
    transition: 0.6s;
}

.specialBox {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    margin: 12vh 10vw;
	width: 80vw; 
	min-height: 70vh;
	background: #FFF;
	color: #000;
    border-radius: 1em;
}

.specialBox .closebtn {
    display: block;
    font-size: 36px;
    position: absolute;
    padding: 8px;
    top: 0;
    right: 10px;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.specialBox .title {
    margin: 18px;
    font-size: 24px;
    font-weight: bold;
}

.specialBox .closebtn:hover {
    background-color: rgba(85, 85, 85, 0.952);
}

.specialBox .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10px;
}

.specialBox .description {
    position: absolute;
    bottom: 0;
    color: rgb(87, 87, 87);
    margin: 16px;
}

textarea:focus, input:focus {
    outline: none;
}

.textbox-main,
.textbox {
    display: block;
    border: 0;
    border-bottom: solid rgb(3, 3, 3) 1px;
    border-radius: 2em;
    transition: 0.2s;
    font-size: 18px;
    padding: 1px 10px;
}

.textbox-main {
    width: 86%;
    font-size: 18px;
    margin: 16px 5%;
    padding: 10px;
}

.textbox-main:focus {
    border: 0;
    border-bottom: solid rgb(52, 75, 177) 3px;
}

.textbox-small {
    width: 50px;
    border: 0;
    border-bottom: solid rgb(3, 3, 3) 1px;
    border-radius: 2em;
    transition: 0.2s;
    font-size: 18px;
    padding: 1px 12px;
    margin: 1px 10px;
    text-align: center;
}

.label {
    font-size: 18px;
    vertical-align: middle;
}

.button {
    background-color: rgb(42, 94, 238);
    color: white;
    font-style: bold;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(70, 79, 94);
    padding: 8px 16px;
    margin: 10px;
    margin-bottom: 50px;
    border-radius: 0.25em;
    transition: 0.3s;
}

.button:hover {
    box-shadow: none;
    transform: scale(0.98, 0.98)
}