html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.root-container {
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    width: 100%;
    height: 93vh;
}

.root-container .root-item {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px;
    flex: 1 1 auto;
    height: 97%;
}

.calendar-instance {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
}

.calendar-month, 
.calendar-year {
    font-size: 24px;
    font-style: italic;
    padding-right: 0;
    cursor: pointer;
    transition: 0.3s;
}

.calendar-month:hover, 
.calendar-year:hover {
    border-bottom: solid rgb(124, 124, 124) 3px;
    border-top: solid rgb(124, 124, 124) 3px;
}

.calendar-container {
    order: 1;
    flex: 4 auto;
    /* min-width: 5vw; */
    display: flex;
    flex-flow: column nowrap;
    /* grid-template-columns: repeat(7, minmax(60px, 180px));
    grid-auto-rows: minmax(50px, 110px);
    grid-template-rows: 50px; */
}

.calendar-wrapper {
    flex: 1 auto;
    position: relative;
}

.calendar-dates {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}

.calendar-week-days {
    display: flex;
    flex-flow: row nowrap;
}

.calendar-row {
    flex: 1 1 0;
    display: flex;
    flex-flow: row nowrap;
    height: 10vh;
}

.calendar-dates .calendar-item,
.calendar-week-days .calendar-item {
    flex: 1 1 0;
    font-size: 24px;
    padding: 0.3em;
    border-top: solid rgb(175, 175, 175) 1px;
    border-left: solid rgb(175, 175, 175) 1px;
    cursor: pointer;
    transition: 0.35s;
    overflow: hidden;
}

.calendar-dates .calendar-item:hover {
    transform: scale(1.05, 1.05);
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(138, 154, 180, 0.925);
}

.calendar-container .calendar-header {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border-left: solid rgb(175, 175, 175) 1px;
    border-bottom: solid black 1px;
    border-top: 0;
}

.info-container {
    order: 2;
    max-width: 15%;
    min-width: 250px;
}

/* On screens that are less than 1024px, do not display info-container */
/* TODO: try this out later */
@media screen and (max-width: 1024px) {
    .info-container {
        display: none;
    }
    /* .root-container {
        flex-flow: row wrap;
    } */
}