.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 8px;
    /* border-bottom: solid rgb(172, 172, 172) 2px; */
}

.navbar .menu-icon {
    order: 0;
    flex: 1 auto;
    width: 25px;
    /* padding: 8px; */
    padding-left: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-icon:hover {
    transform: scale(1.1, 1.1);
}

.navbar .nav-title {
    order: 1;
    flex: 5 auto;
    font-size: 28px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 16px;
    font-weight: bold;
    cursor: pointer;
}

.navbar .nav-heading {
    order: 2;
    flex: 1 auto;
    font-size: 24px;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-left: 16px;
    font-weight: bold;
}

.navbar .nav-end {
    order: 99;
    align-self: flex-end;
    flex: 5 auto;
}

.nav-end {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
}

.nav-end .nav-item {
    margin: 10px;
    padding-top: 8px;
    font-size: 18px;
    cursor: pointer;
}

.nav-end .nav-status {
    margin-left: 50px;
}