#task-template {
    display: block;
    position: relative;
    cursor: pointer;
}

.task-template-status {
    font-style: italic;
    position: absolute;
    right: 6px;
    color: rgb(53, 53, 53);
    background-color: rgba(93, 228, 93, 0.945);
    border-radius: 0.5em;
    padding: 0px 8px;
}

h3 {
    margin: 4px;
}

#tasks-all-day,
#tasks-normal {
    padding: 8px 2px;
    border-radius: 0.5em;
    margin: 4px 0px;
}

#tasks-all-day {
    /* background-color: rgb(234, 255, 190); */
}

#tasks-normal {
    /* background-color: rgb(243, 224, 255); */
}

.label-task {
    /* position: absolute; */
    overflow: hidden;
    font-size: 0.7em;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 1.2em;
    width: 8vw;
    padding: 4px;
    margin: 4px 0;
    border-radius: 0.4em;
    pointer-events: none;
}

.reminder-task {
    display: block;
    background-color: rgb(119, 163, 219);
    margin: 8px;
    padding: 8px;
    border-radius: 0.5em;
    transition: 0.4s;
}

.reminder-task:hover {
    transform: scale(1.03);
}

.todo-template {
    display: flex;
    justify-items: baseline;
    justify-content: space-between;
    margin: 5px 10px;
}

.todo-template-text {
    font-size: 1.2em;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.todo-template-status {
    margin-left: 1em;
    margin-right: 0.5em;
}